*.c linguist-documentation
*.cpp linguist-documentation
*.h linguist-documentation
*.m linguist-documentation
*.mm linguist-documentation
*.txt linguist-documentation
*.html linguist-documentation
*.bat linguist-documentation
*.frag linguist-documentation
*.vert linguist-documentation
*.mkb linguist-documentation
*.icf linguist-documentation
*.sln linguist-documentation
*.vcxproj linguist-documentation
*.vcxproj.filters linguist-documentation
*.natvis linguist-documentation
Makefile linguist-documentation
*.cmake linguist-documentation
*.sh linguist-documentation
*.pbxproj linguist-documentation
*.storyboard linguist-documentation
*.plist linguist-documentation
*.png binary
*.ttf binary
*.lib binary
